*.lock

*.properties

InTechs-backend/build/reports/tests/test/js/report.js

InTechs-backend/build/test-results/test/binary/output.bin.idx

*.bin

*.xml

*.html

*.class

*.css

*.idx

InTechs-backend/build/resources/main/application.yml
*.MF

*.jar

InTechs-backend/.idea/modules/InTechs-backend.InTechs-backend.test.iml

*.iml
